Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-WTF==0.15.1
Flask-Migrate==3.0.1
# Flask-SocketIO==5.5.0
Flask-Caching>=2.0.2
Flask-Compress>=1.13
Flask-Limiter==2.0.0
SQLAlchemy==1.4.22
mysql-connector-python==8.0.33
redis>=4.5.4
Werkzeug==2.0.1
Jinja2==3.0.1
WTForms==2.3.3
Requests==2.25.1
Gunicorn==20.1.0
GitPython==3.1.31
python-dotenv
# python-engineio==4.11.2
#python-socketio==5.12.1
gevent>=22.10.2
# mysqlclient==2.0.3  # If using MySQL
# Psycopg2==2.9.1  # If using PostgreSQL